langchain
langchain-core
langchain-community
langchain-groq
langchain-openai
langgraph
langgraph-checkpoint-sqlite


protobuf==3.20.3
chromadb
langchain-chroma


streamlit

python-dotenv

youtube_transcript_api